/* Desktop Section */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    /* color: white; */
    /* box-sizing: border-box; */
}

#section5{
    height: 70vh;
}

html {
    scroll-behavior: smooth;
}
.fish {
  position: absolute;
  bottom: 0%; /* Adjust based on your layout */
  right: -100px; /* Start off-screen */
  width: 400px; /* Adjust to your fish image size */
  height: 400px; /* Adjust to your fish image size */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for showing/hiding */
}

.fish.active {
  animation: swim 3s linear forwards;
  opacity: 1;
}

@keyframes swim {
  0%{
    right: -100px;
  }
  100% {
    right: 100%;
  }
}
.bub {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: inset 1px -1px 5px white;
  background-color: rgba(255,255,255, .01);
  backdrop-filter: blur(2px);
  position: absolute;
  bottom: 0;
  /* animation: bubble 3s ease-in infinite; */
}
.bub::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 5px;
  height: 5px;
  top: 15px;
  right: 13px;
  box-shadow: 0px 0px 10px white;
}
 .bub.a {
   left: 10%;
   animation: bubble 1.3s ease-in infinite;
 }
 .bub.b {
  left: 20%;
  animation: bubble 1.6s ease-in infinite;
}
.bub.c {
  left: 280%;
  animation: bubble 2s ease-in infinite;
}
.bub.d {
  left: 40%;
  animation: bubble 4s ease-in infinite;
}
.bub.e {
  left: 75%;
  animation: bubble 2.3s ease-in infinite;
}
.bub.f {
  left: 80%;
  animation: bubble 1.8s ease-in infinite;
}
.bub.g {
  left: 600%;
  animation: bubble 1s ease-in infinite;
}
.bub.h {
  left: 50%;
  animation: bubble 3s ease-in infinite;
}
.bub.i {
  left: 650%;
  animation: bubble 3.5s ease-in infinite;
}
.bub.j {
  left: 210%;
  animation: bubble 1.9s ease-in infinite;
}
.bub.k {
  left: 35%;
  animation: bubble 2.6s ease-in infinite;
}
@keyframes bubble {
  0%{
    opacity: 0;
  }
  10%,93%{
    opacity: 1;
  }
  100% {
    transform: translate(90px, -700px);
    display: none;
  }
}
.opening-text:hover{
    transform: scale(1.2);
    transition: 0.9s;
}

.centertext{
    padding: 0px 0px 0px 0px;
    font-size: xxx-large;
    display: flex;
    justify-content: space-around;
}
.box3:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.box3Photo{
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(4px);
}

.box3Text {
    position: absolute;
    color: rgb(210 209 233);
    z-index: 1;
    margin: -85px 0px 0px 0px;
    width: 283px;
}

.box2:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.box2Photo{
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(4px);
}
.box2Text {
    position: absolute;
    color: rgb(186, 181, 255);
    z-index: 1;
    margin: -85px 0px 0px 0px;
    width: 283px;
}

.box1Photo{
    width: 100%;
    height: auto;
    z-index: 0;
    filter: blur(4px);
}

.box1Text{
    color:rgb(132 124 255);
    margin: 102px -16px 47px -292px;
    z-index: 1;
}
.box1:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.op-name1{
    margin: 0px 0px 0px -94px;
    font-size: 50px;
}

.op-name2{
    margin: 0px 0px 0px 79px;
}

.op-name3{
    margin: 0px 0px 0px 135px;
    font-size: 40px;
}

a{
    text-decoration:none;
    color:rgb(255, 255, 255);
}
.icons{
    display: flex;
    margin: 0px 0px -227px 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}


.resume-icon:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color:rgb(162, 79, 79);
}

.github-icon:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color:rgb(162, 79, 79);
}
.linkedin-icon:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color:rgb(162, 79, 79);
}
.linkedin-icon{
    /* margin: 15px 10px 0px 112px;
    padding: 0px 0px 0px 0px; */
    font-size: 40px;
    display:flex;
    flex-direction: row-reverse;
    margin: 0px 49px 33px 0px;
    justify-content: center;
}
.github-icon{
    /* margin: 108px 10px 0px -90px;
    padding: 0px 0px 0px 0px; */
    font-size: 40px;
    display:flex;
    display: flex;
    margin: 0px 49px 33px 0px;
    justify-content: center;
}
.resume-icon{
    /* margin: 108px 10px 0px -90px;
    padding: 0px 0px 0px 0px; */
    font-size: 40px;
    display: flex;
    margin: 0px 49px 33px 0px;
    justify-content: center;
}
#s3top{
    font-size: 30px;
    margin: 5px -22px 11px 50px;
    font-weight: 400;
}
@media only screen and (min-width: 1220px){
    #section4{
    margin: 224px 6px 0px 0px;
    }
}

@media only screen and (max-width: 1220px){
    #section4{
    margin: 512px 6px 0px 0px;
    }
    .open .mobile-menu{
        position: absolute;
        z-index: 4;
        
    }
}
.text_p{
    font-size: 40px;
}
#section4{
    height: 270px;
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
    width: auto;
    display: flex;
    padding: 0px 0px 240px 0px;
}

.bracket2{
    display: flex;
    flex-direction: row-reverse;
}
.text_p{
    text-align: center;
}
.bracket1{
  display: flex;
  flex-direction: row;
}

.bracket1, .bracket2 {
    font-size: 40px;
}
#project_box{
    display: flex;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
}
.box1{
    left: 100px;
    display: flex;
    height: 185px;
    width: 296px;
    background-color: rgb(162, 79, 79);
    justify-content: flex-start;
}
.box2{
    left: 100px;
    display: flex;
    height: 185px;
    width: 296px;
    background-color: rgb(115, 115, 115);
    justify-content: flex-start;
}
.box3{
    left: 100px;
    display: flex;
    height: 185px;
    width: 296px;
    background-color: rgb(41, 41, 41);
    justify-content: flex-start;
}
.box4{
    margin: auto;
    left: 100px;
    display: flex;
    height: 185px;
    width: 296px;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
}
#section3{
    /* margin: 30vh 30vh 30vh; */
    color:white;
    height:300px;
    background-color: #000000;
    width: auto;
}

#section2{
    height: 401px;
    background-color: white;
    color: black;
    width: auto;
   
}

#s2-top{
    padding: -79px 0px 20px -4px;
    margin: 10px;
    background-color: #303030;
    color: white;
    font-size: 40px;
}

#section1{
color: rgb(0, 0, 0);
height: 300px;
padding: 70px 70px 70px;
position: relative;
/* top: 22vh;
left: 19vh; */
padding: 10% 0;
margin: auto;
text-align: center;
z-index: 0;
color: white;
font-family: 'Ubuntu', sans-serif;
font-size: 25px;
}

/* .op-name2{
    position: relative;
    top: -1px;
    left: 131px;
}
.op-name3{
    position: relative;
    top: 2px;
    left: 170px;
} */


body {
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: #303030;
    padding: 0 30px;
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: auto=    


    
}

li{
    list-style: none;
    color: white;
}

.nav-name {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
} 

body{
    background-color: black;
}



/* Mobile section */
@media only screen and (max-width: 1220px){
    #project_box{
    flex-direction: column;
    padding: 0px 0px 0px 0px; 
    align-items: center;
    }
    .box1, .box2, .box3, .box4{
        margin: 0px 0px 30px 0px;
    }
}

@media only screen and (min-width: 769px){
    #hamburger-icon{
        display: block;
    }
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    -webkit-transform: rotate(45deg) translate(-6px, 6px);
    transform: rotate(45deg) translate(-6px, 6px);
}

.open .bar3{
    opacity: 0;
}


.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position:absolute;
    right: 37%;
    top: 19vh;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
}

@media only screen and (max-width: 768px){
    header nav{
        display: none;
    }
}

@media only screen and (max-width: 769px){
    #hamburger-icon{
        display: block;
    }
}


    
/* .navbar{
    height: 50px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

ul li{
    padding: 5px;
    margin-left: 22px;
    float: left;
} 
*/
@media only screen and (max-width: 489px){
    .icons{
        justify-content: flex-end;
        align-content: center;
        margin: 0px 0px 0px -135px;
    }    
    .op-name3{
        margin: 0px 0px 0px -6px;
    }
    .op-name1{
        margin: 0px 0px 0px -18px;
    }
    .open .mobile-menu{
        position: absolute;
        z-index: 4;
        margin: 115px -48px 15px 0px;
        
    }
    
}


@media only screen and (max-width: 565px){
    #section2{
        height: 633px;
    }
    .icons{
        font-size: medium;
        display: initial;
        margin: 85px 68px -1px -110px;
        width: 45px;
    }
    #section4{
       height: auto;
    }
    
}